<template>
  <div id="app">
    <main-header />
    <router-view />
  </div>
</template>

<script>
// @ is an alias to /src
import MainHeader from "@/components/MainHeader.vue";

export default {
  name: "application",
  components: {
    MainHeader
  }
};
</script>

<style lang="scss">
#app {
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #222222;
  margin-top: 50px;

}


// @import "<Your_Path>/global.scss";


</style>
