body {
    background-color: rgb(247, 247, 247);
}

// @import ;

.container {
  // margin: 10px auto;
  // max-width: 800px;
  // width: 90%;
  text-align: initial;
}

// .inline {
//   display: flex;
//   justify-content: space-between;
//   align-items: center;
// }

// .inline-flex {
//   display: flex;
// }

// .radio-wrapper:first-child {
//   margin-right: 20px;
// }

// .space-around {
//   justify-content: space-around;
// }

// .align-right {
//   text-align: right;
// }

// .submit-button {
//   width: 70px;
//   padding: 5px 10px;
//   background-color: white;
//   color: #b10000;
//   border: solid 1px #b10000;
//   border-radius: 5px;
//   outline: none;
//   transition: all 0.2s ease-in-out;

//   &:hover {
//     box-shadow: 0 0 5px #b10000;
//   }

//   &:active {
//     background-color: #b10000;
//     color: white;
//   }
// }

// .error-message {
//   color: white;
//   background-color: #b10000;
//   text-align: center;
//   padding: 10px 0;
// }

// input {
//   padding: 5px 10px;
//   margin: 0 5px;
// }

// table {
//   font-family: arial, sans-serif;
//   border-collapse: collapse;
// }

// h3 {
//   // margin: 40px 0 0;
// }

// ul {
//   list-style-type: none;
//   padding: 0;
// }

// li {
//   display: inline-block;
//   margin: 0 10px;
// }