<template>
  <div>
    <Overlay v-if="avaitStatus"/>
    <ResultPage v-else />
  </div>
</template>

<script>
// @ is an alias to /src
// import GanttPage from "@/components/GanttPage.vue";

import ResultPage from "@/components/ResultPage.vue";
import Overlay from "@/components/Overlay.vue";

export default {
  name: "GanttDiagram",
  components: {
    // GanttPage,
    ResultPage,
    Overlay,
  },
  computed: {
      avaitStatus: {
        get () {
          return this.$store.state.avaitStatus;
        }
    }
  }
};
</script>