<template>
  <div class="home">
    <ParamList msg="Request optimization of systems and services" />
  </div>
</template>

<script>
// @ is an alias to /src
import ParamList from "@/components/ParamList.vue";

export default {
  name: "Request",
  components: {
    ParamList
  }
};
</script>
