<template>
  <div class="home">
    <SjpPage msg="Simple Job Shop" />
  </div>
</template>

<script>
// @ is an alias to /src
import SjpPage from "@/components/SjpPage.vue";

export default {
  name: "SjpP",
  components: {
    SjpPage
  }
};
</script>
