<template>
  <div class="home">
    <StartPage msg="Select a problem to solve" />
  </div>
</template>

<script>
// @ is an alias to /src
import StartPage from "@/components/StartPage.vue";

export default {
  name: "Start",
  components: {
    StartPage
  }
};
</script>
