<template>
  <div class="container">
    <!-- <b-row>
      <b-col cols="8"> 
      </b-col>
    </b-row> -->
    <b-row>
      <b-col cols="8">
        <b-card class="mb-2" v-for="(item, index) in questions" :key="item">
          <b-form-checkbox
            v-model="problemFingerprint[index]"
            value="true"
            unchecked-value="false"
          >
            {{ item }}
          </b-form-checkbox>
        </b-card>
      </b-col>
      <b-col>
        <b-card
          title="Suggested Type of Prolem"
          style="max-width: 20rem;"
          class="mb-2"
        >
          <b-card-text>
            Some quick example text
          </b-card-text>
        </b-card>
      </b-col>
    </b-row>
    <b-row>
      <b-col>
        <router-link style="text-decoration: none" to="/">
          <b-button block variant="outline-secondary"
            >Back</b-button
          ></router-link
        >
      </b-col>
      <b-col cols="8"></b-col>
      <b-col>
        <b-button block variant="outline-primary" :disabled="true"
          >Go for it!</b-button
        >
      </b-col>
    </b-row>
  </div>
</template>

<script>
// @ is an alias to /src

// import AnimationBg from '../components/AnimationBg.vue';
// import InputMatrixT from "@/components/InputMatrixT.vue";

export default {
  name: "JustTest",
  data() {
    return {
      questions: [
        "The problem has several machines or resourses",
        "The problem has several tasks or jobs to perform",
        "The task or job consist of operations",
        "There is a sequense of operations",
        "Each machine can perform several operations",
      ],
      problemFingerprint: ["true", "false", "false", "false", "false", "false"],
    };
  },
  components: {},
  computed: {
    problemList: {
      get() {
        return this.$store.state.problemList
      }
    },
  },
  watch: {
    problemFingerprint: function(val) {
      console.log("Problem Fingerprint: " + this.problemFingerprint + " - " + val)

    }
  },
};
</script>
