<template>
  <b-list-group>
    <b-list-group-item v-for="(item, index) in params" :key="index">
        <b-form inline>
        <label class="p-3">{{index}}</label>
        <b-form-input
            type="number"
            v-model="params[index]"
        />
        </b-form>
    </b-list-group-item>
  </b-list-group>
</template>

<script>
export default {
    props: {
        params: Object
    }
}
</script>