<template>
  <table class="container shadow-sm p-3 mb-5 bg-light rounded">
    <TitleItem :header="header" />
    <ListItem
      v-for="(item, index) in items"
      :key="index"
      :index="index"
      :data="item"
      :showColumn="showColumn"
      @deleteItem="deleteItem"
    />
    <AddItem @addItem="addItem"/>
  </table>
</template>

<script>
// @ is an alias to /src
import ListItem from "@/components/ListItem.vue";
import AddItem from "@/components/AddItem.vue";
import TitleItem from "@/components/TitleItem.vue";


export default {
    components: {
    ListItem,
    AddItem,
    TitleItem,
  },
    props: {
    items: Array,
  },
  methods: {
      addItem() {
          this.items.push({name: "name" + this.items.length, value: 0})
      },
      deleteItem: function(id) {
        //   console.log("Delete Item!!! " + id)
          this.items.splice(id, 1)
      }
  },
  computed: {
    header: {
      get() {
        return ["Name", "Value"];
      },
    },
    showColumn: {
        get() {
            return true
        }
    }
  },
};
</script>