<template>
  <b-table-simple striped bordered responsive >
    <b-thead head-variant="light">
    <b-tr>
      <b-th>#</b-th>
      <b-th v-for="(name, index) in header" :key="index">{{ name }}</b-th>
      <!-- <th v-if="showColumn">From</th> -->
      <b-th v-if="isMultiLine">Del</b-th>
    </b-tr>
    </b-thead>
    <b-tbody >
    <b-tr 
    v-for="(item, index) in items"
    :key="index"
    >
      <b-td>{{ index + 1 }}</b-td>
      <b-td>
        <b-form-input
          placeholder="Type name here"
          v-model="item.name"
          :state="!!item.name && item.name != ''"
        />
      </b-td>
      <b-td >
        <b-form-input
          v-model="item.value"
          @keypress="isNumber($event)"
          type="number"
          :state="(!!item.value && item.value > 0 && item.value != '')"
        />
      </b-td>
      <b-td >
        <b-form-input
          v-model="item.machinesNumber"
          @keypress="isNumber($event)"
          type="number"
          :state="(!!item.machinesNumber && item.machinesNumber > 0 && item.machinesNumber != '')"
        />
      </b-td>
      <b-td v-if="isMultiLine">
        <b-button @click="deleteItem(index)" variant="outline-danger">
        <b-icon icon="trash-fill" aria-hidden="true"></b-icon>
        </b-button>
        </b-td>
    </b-tr>
</b-tbody>
<b-tfoot v-if="isMultiLine">
    <b-tr>
      <b-td colspan="5">
        <b-button @click="addItem" variant="outline-info">+</b-button> Add
      </b-td>
    </b-tr>
    </b-tfoot>
  </b-table-simple>
</template>

<script>
// @ is an alias to /src
import { BIcon, } from 'bootstrap-vue'

export default {
  components: {
    BIcon,
  },
  props: {
    items: Array,
    header: Array,
    isMultiLine: Boolean,
  },
  methods: {
    addItem() {
      this.items.push(
        { 
          // name: "name" + this.items.length + Math.floor(Math.random() * 10),
          name: "",
          value: 0,
          machinesNumber: 1,
        }
      );
    },
    deleteItem: function(id) {
      //   console.log("Delete Item!!! " + id)
      this.items.splice(id, 1);
    },
    isNumber: function (evt) {
      evt = evt ? evt : window.event;
      var charCode = evt.which ? evt.which : evt.keyCode;
      if (this.$store.state.dataType == "Double") {
        if (
          charCode > 31 &&
          (charCode < 48 || charCode > 57) &&
          (charCode !== 46)
        ) {
          evt.preventDefault();
        } else {
          return true;
        }
      } else {
        if (
          charCode > 31 &&
          (charCode < 48 || charCode > 57) 
        ) {
          evt.preventDefault();
        } else {
          return true;
        }
      }
    },
  },
  computed: {

  },
  watch: {
    isMultiLine: function() {
      this.items.splice(1)
    }
  },
};
</script>

<style scoped lang="scss">


</style>
