<template>
  <b-table-simple small striped bordered responsive >
    <b-thead head-variant="light">
      <b-tr>
        <b-th>#</b-th>
        <b-th v-for="(name, index) in header" :key="index">{{ name }}</b-th>
        <!-- <th v-if="showColumn">From</th> -->
        <b-th>Del</b-th>
      </b-tr>
    </b-thead>
    <b-tbody>
      <b-tr v-for="(item, index) in items" :key="index">
        <b-td>{{ index + 1 }}</b-td>
        <b-td>
          <b-form-input  size="sm"
            
            placeholder="Type name here"
            v-model="item.name"
            :state="!!item.name && item.name != ''"
          />
        </b-td>
        <b-td>
          <b-form-input size="sm"
            v-model.number="item.value"
            @keypress="isNumber($event)"
            type="number"
            :state="!!item.value && item.value > 0 && item.value != 0"
          />
        </b-td>
        <!-- <b-td>
          <b-form-select size="sm"
            v-model="item.after"
            :options="operations"
          ></b-form-select>
        </b-td> -->
        <b-td>
          <b-form-select size="sm"
            v-model="item.machine"
            :options="machines"
            multiple :select-size="3"
            :state="machines.includes(item.machine[0])"
          ></b-form-select>
        </b-td>
        <!-- <b-td>
          <b-form-select size="sm"
            v-model="item.preemptive"
            :options="['true', 'false']"
          ></b-form-select>
        </b-td> -->
        <!-- <b-td>
          <b-form-input size="sm"
            v-model="item.order"
            @keypress="isNumber($event)"
            type="number"
          />
        </b-td> -->
        <b-td>
          <b-button @click="deleteItem(index)" variant="outline-danger">
            <b-icon icon="trash-fill" aria-hidden="true"></b-icon>
          </b-button>
        </b-td>
      </b-tr>
    </b-tbody>
    <b-tfoot>
      <b-tr>
        <b-td colspan="7">
          <b-button @click="addItem" variant="outline-info">+</b-button> Add
        </b-td>
      </b-tr>
    </b-tfoot>
  </b-table-simple>
</template>

<script>
// @ is an alias to /src
import { BIcon } from "bootstrap-vue";

export default {
  components: {
    BIcon,
  },
  props: {
    items: Array,
    header: Array,
  },
  methods: {
    addItem() {
      this.items.push({
        // name: "name" + this.items.length + Math.floor(Math.random() * 10),
        name: "",
        value: 0,
        order: this.items.length,
        preemptive: "false",
        machine: ["any",],
        after: "none",
      });
    },
    deleteItem: function(id) {
      //   console.log("Delete Item!!! " + id)
      this.items.splice(id, 1);
    },
    isNumber: function(evt) {
      evt = evt ? evt : window.event;
      var charCode = evt.which ? evt.which : evt.keyCode;
      if (this.$store.state.dataType == "Double") {
        if (
          charCode > 31 &&
          (charCode < 48 || charCode > 57) &&
          charCode !== 46
        ) {
          evt.preventDefault();
        } else {
          return true;
        }
      } else {
        if (charCode > 31 && (charCode < 48 || charCode > 57)) {
          evt.preventDefault();
        } else {
          return true;
        }
      }
    },
  },
  computed: {
    machines: {
      get() {
        let machines = this.$store.state.problem.machines.map(item => item.name)
        if (this.$store.state.problem.problemType != "Flow Shop") {machines.unshift("any")}
        return machines
      },
    },
    operations: {
      get() {
        let operations = this.items.map(item => item.name)
        operations.unshift("none")
        return operations
      }
    },
  },

  watch: {

  }

};
</script>

<style scoped lang="scss"></style>
