<template>
  <!-- https://vuejsexamples.com/a-simple-and-easy-to-use-gantt-chart-component-for-vue-js/ -->
  <div class="container">
    <b-container card class="p-3">
      <b-row v-if="ganttData.timeSpan">
        <p>Timespan: {{ ganttData.timeSpan }}</p>
      </b-row>
      <b-row v-if="ganttData.consumption">
        <p>Consumption: {{ ganttData.consumption }}</p>
      </b-row>
      <b-row>
        <g-gantt-chart
          :chart-start="ganttData.myChartStart"
          :chart-end="ganttData.myChartEnd"
          :push-on-overlap="ganttData.pushOnOverlap"
          :grid="ganttData.grid"
          :row-height="ganttData.rowHeight"
        >
          <g-gantt-row
            v-for="row in ganttData.rows"
            :key="row.label"
            :label="row.label"
            :bars="row.bars"
            bar-start="myStart"
            bar-end="myEnd"
          />
        </g-gantt-chart>
      </b-row>
      <!-- <b-row>
        <b-col>

        </b-col>

        <b-col cols="8"> </b-col>
        <b-col>
          <b-button block @click="resetDiagram()" variant="outline-secondary">
            Reset Diagram
          </b-button>
        </b-col>
      </b-row> -->
      <!-- <pre>
        {{ JSON.stringify(ganttData, null, 2) }}
      </pre> -->
      <!-- <pre>
        {{ JSON.stringify(response,null,2) }}
      </pre> -->
    </b-container>
  </div>
</template>

<script>
import { GGanttChart, GGanttRow } from "vue-ganttastic";
// import getGanttData from "../gantt-data"
// import optimisate from "../optimisator"

// function initialState() {
//   return {
//     myChartStart: "2020-03-01 00:00",
//     myChartEnd: "2020-03-03 00:00",
//     rows: [
//       {
//         label: "Machine #1",
//         bars: [
//           {
//             myStart: "2020-03-01 12:10",
//             myEnd: "2020-03-01 16:35",
//             ganttBarConfig: {
//                   background: "#B29DB6",
//                   label: "Job1"
//                 }
//           },
//         ],
//       },
//       {
//         label: "Machine #2",
//         bars: [
//           {
//             myStart: "2020-03-02 01:00",
//             myEnd: "2020-03-02 12:00",
//             ganttBarConfig: {
//                   background: "#B4B4B4",
//                   label: "Job2"
//                 }
//           },
//           {
//             myStart: "2020-03-02 13:00",
//             myEnd: "2020-03-02 22:00",
//             ganttBarConfig: {
//                   background: "#ABC3CE",
//                   label: "Job3"
//                 }
//           },
//         ],
//       },
//     {
//         label: "Machine #3",
//         bars: [
//           {
//             myStart: "2020-03-02 02:00",
//             myEnd: "2020-03-02 13:00",
//             ganttBarConfig: {
//                   background: "#C5AEB4",
//                   label: "Job4"
//                 }
//           },
//           {
//             myStart: "2020-03-02 14:00",
//             myEnd: "2020-03-02 23:00",
//             ganttBarConfig: {
//                   background: "#7B8FA5",
//                   label: "Job5"
//                 }
//           },
//         ],
//       },
//     {
//         label: "Machine #4",
//         bars: [
//           {
//             myStart: "2020-03-02 00:00",
//             myEnd: "2020-03-02 11:00",
//             ganttBarConfig: {
//                   background: "#99B49F",
//                   label: "Job3"
//                 }
//           },
//           {
//             myStart: "2020-03-01 01:00",
//             myEnd: "2020-03-01 21:00",
//             ganttBarConfig: {
//                   background: "#B29DB6",
//                   label: "Job3"
//                 }
//           },
//         ],
//       },
//     ],
//   };
// }

export default {
  components: {
    GGanttChart,
    GGanttRow,
  },

  props: {
    ganttData: Object,
  },

  computed: {

    // ganttData: {
    //   // get() {
    //   //   return this.$store.state.ganttData;
    //   // },
    //   get() {
    //     return this.$store.state.responseObj[0]
    //   }
    // },
    // response: {
    //   get() {
    //     return this.$store.state.responseObj
    //   }
    // },
  },

  methods: {
    resetDiagram() {
      // let optimalSolution = optimisate(this.$store.state.problem)
      // // console.log("Optimal chromsome")
      // // console.log(optimalSolution)

      // let ganttD = getGanttData(
      //   this.$store.state.problem,
      //   optimalSolution
      // )
      // this.$store.commit("setGanttData", ganttD);
      // Object.assign(this.$data, this.$store.state.responseObj[0]);

    },
  },

  // data() {
    // return initialState();
    // return this.$store.state.responseObj[0]
    // return
  // },
};
</script>

<style scoped></style>
