<template>
  <b-list-group>
    <b-form-group v-slot="{ ariaDescribedby }">
      <b-list-group-item>
        <b-form-radio
          v-model="heuristic"
          :aria-describedby="ariaDescribedby"
          name="some-radios"
          value="first"
          >First Come First Served</b-form-radio
        >
      </b-list-group-item>
      <b-list-group-item>
        <b-form-radio
          v-model="heuristic"
          :aria-describedby="ariaDescribedby"
          name="some-radios"
          value="shortest"
          >Shortest Processing Time First</b-form-radio
        >
      </b-list-group-item>
      <b-list-group-item v-if="isOpenShop">
        <b-form-radio
          v-model="heuristic"
          :aria-describedby="ariaDescribedby"
          name="some-radios"
          value="random"
          >Random Allocation</b-form-radio
        >
      </b-list-group-item>
    </b-form-group>
  </b-list-group>
</template>

<script>
export default {
  data() {
    return {};
  },

  props: {
    data: Array,
  },

  computed: {
      heuristic: {
        get() {
            return this.data[0]
        },
        set(value) {
            this.data[0] = value
        }
      },
      isOpenShop: {
        get() {
          return (this.$store.state.problem.problemType == "Open Shop")
        }
      }
  },

  methods: {},
};
</script>
