<template>
  <b-list-group>
    <!-- Header  -->
    <b-list-group-item variant="dark">
      <b-row>
        <b-col v-for="name in header" v-bind:key="name" class="center">
          {{ name }}
        </b-col>
      </b-row>
    </b-list-group-item>

    <b-list-group-item
      v-for="(row, ind) in data"
      v-bind:key="row.rowName"
      :variant="ind % 2 ? 'light' : 'secondary'"
    >
      <b-row>
        <b-col class="center row-name">{{ row.rowName }}</b-col>
        <b-col
          class="right row"
          v-for="(cell, index) in row.values"
          v-bind:key="index"
        >
          <b-form-input
            :state="cell == null ? false : cell != ''"
            type="number"
            v-model="row.values[index]"
          />
          <!-- <div>{{cell}}</div> -->
        </b-col>
      </b-row>
    </b-list-group-item>
  </b-list-group>
</template>

<script>
export default {
  data() {
    return {
      header: [
        "M / J",
        "Operation1",
        "Operation2",
        "Operation3",
        "Operation4",
        "Operation5",
      ],
      data: [
        {
          rowName: "Machine1",
          values: [10, 20, 30, 25, 35,],
        },
        {
          rowName: "Machine2",
          values: [10, 20, null, 25, 35,],
        },
        {
          rowName: "Machine3",
          values: [10, 20, 30, 25, 35,],
        },
      ],
    };
  },

  // TODO
  computed: {
    cellState() {
      return {};
    },
  },
};
</script>

<style lang="scss" scoped>
.center {
  text-align: center;
}

.right {
  text-align: right;
}
</style>
