<template>

  <b-table-simple striped bordered responsive>
    <b-thead head-variant="light">
      <b-tr>
        <b-th :sticky-column="indx == 0" v-for="(name, indx) in header" v-bind:key="name" class="center">
          {{ name }}
        </b-th>
      </b-tr>
    </b-thead>
    <b-tbody>
      <b-tr
        v-for="(row) in data"
        v-bind:key="row.rowName"
      >

          <b-th sticky-column >{{ row.rowName }}</b-th>
          <b-td
            v-for="(cell, index) in row.values"
            v-bind:key="index"
          >
            <b-form-input
              :state="cell == null ? false : cell != ''"
              type="number"
              v-model="row.values[index]"
            />
            <!-- <div>{{cell}}</div> -->
          </b-td>

      </b-tr>
    </b-tbody>
  </b-table-simple>
</template>

<script>
export default {
  data() {
    return {
      header: [
        "M / J",
        "Operation1",
        "Operation2",
        "Operation3",
        "Operation4",
        "Operation5",
        "Operation6",
        "Operation7",
        "Operation8",
        "Operation9",
        "Operation10",
      ],
      data: [
        {
          rowName: "Machine1",
          values: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
        },
        {
          rowName: "Machine2",
          values: [10, 2, null, 5, 4, 8, 6, 7, 8, 3],
        },
        {
          rowName: "Machine3",
          values: [3, 8, 5, 6, 9, 10, 7, 4, 1, 2],
        },
      ],
    };
  },

  // TODO
  computed: {
    cellState() {
      return {};
    },
  },
};
</script>

<style lang="scss" scoped>
.center {
  text-align: center;
}

.right {
  text-align: right;
}
</style>
