<template>
<table>
<!-- Header  -->
<tr>

    <th v-for="name in header" v-bind:key="name">
        {{name}}
    </th>

</tr>

<tr v-for="row in data" v-bind:key="row.rowName">
    <td>{{ row.rowName }}</td>
    <td v-for="(cell, index) in row.values" v-bind:key="index">
        <b-form-input type="number" v-model="row.values[index]" />
        <!-- <div>{{cell}}</div> -->
    </td>
</tr>
</table>
</template>

<script>
export default {
    data() {
        return {
            header: [
                "Mach / Job",
                "val1",
                "val2",
                "val3",
                "val4",
                "val5",
            ],
            data: [
                {
                    rowName: "row1",
                    values: [
                        10,
                        20,
                        30,
                        25,
                        35,
                    ],
                },
                {
                    rowName: "row2",
                    values: [
                        10,
                        20,
                        30,
                        25,
                        35,
                    ],
                },
                {
                    rowName: "row3",
                    values: [
                        10,
                        20,
                        30,
                        25,
                        35,
                    ],
                },
            ]
        }
    }
    
}
</script>