<template>
  <b-list-group>
    <!-- Header  -->
    <b-list-group-item variant="dark">
      <b-row>
        <b-col v-for="name in header" v-bind:key="name" class="center">
          {{ name }}
        </b-col>
      </b-row>
    </b-list-group-item>

    <b-list-group-item
      v-for="(item, ind) in data"
      v-bind:key="item.name"
      :variant="ind % 2 ? 'light' : 'secondary'"
    >
      <b-row>
        <b-col class="center row-name">{{ item.name }}</b-col>
        <b-col>
          <b-form-input
            :state="
              item.priority == null ? false : item.priority != ''
            "
            type="number"
            v-model="item.priority"
          />
        </b-col>
        <b-col>
          <b-form-timepicker placeholder="Set Time" v-model="item.dueto" locale="en"></b-form-timepicker>
        </b-col>
      </b-row>
    </b-list-group-item>
  </b-list-group>
</template>

<script>
export default {
  data() {
    return {
      header: ["", "Priority", "Due"],
      // data: [
      //   {
      //     rowName: "Job1",
      //     values: { priority: 1, due: "" },
      //   },
      //   {
      //     rowName: "Job2",
      //     values: { priority: 1, due: "" },
      //   },
      //   {
      //     rowName: "Job3",
      //     values: { priority: 1, due: "" },
      //   },
      // ],
    };
  },

  // TODO
  computed: {
    cellState() {
      return {};
    },
  },

  props: {
    data: Array,
  },

};
</script>

<style lang="scss" scoped>
.center {
  text-align: center;
}

.right {
  text-align: right;
}
</style>
