<template>
  <tr class="list-item">
    <td>{{ index + 1 }}</td>
    <td>
      <input
        placeholder="Type var name here"
        v-model="data.name"
        class="name-input"
      />
    </td>
    <!-- <td v-if="showColumn">
      <input v-model="dataObj.from" @keypress="isNumber($event)" class="from-input" />
    </td> -->
    <td v-if="showColumn">
      <input v-model="data.value" @keypress="isNumber($event)" class="to-input" />
      </td>
    <td><button @click="deleteItem" class="delete-button">x</button></td>
  </tr>
</template>

<script>
export default {
  name: "ListItem",
  computed: {
    dataObj: {
      // Bad practice: mutate object by reference
      get() {
        return this.$store.state.datas[this.index];
      },
    },

    dataTypes: {
      get() {
        return this.$store.state.dataTypes;
      },

      activeElement: {
        get() {
          return this.$store.state.activeElement;
        },
      },
    },
  },

  props: {
    showColumn: Boolean,
    index: Number,
    data: Object,
  },

  methods: {
    deleteItem() {
      // this.$store.commit("removeVar", this.index);
      // console.log(this.$store.state.count);
      this.$emit("deleteItem", this.index)
    },

    // let input only numbers with or without decimal point depend on dataType
    isNumber: function (evt) {
      evt = evt ? evt : window.event;
      var charCode = evt.which ? evt.which : evt.keyCode;
      if (this.$store.state.dataType == "Double") {
        if (
          charCode > 31 &&
          (charCode < 48 || charCode > 57) &&
          (charCode !== 46)
        ) {
          evt.preventDefault();
        } else {
          return true;
        }
      } else {
        if (
          charCode > 31 &&
          (charCode < 48 || charCode > 57) 
        ) {
          evt.preventDefault();
        } else {
          return true;
        }
      }
    },
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 10px;
}

.delete-button {
  background-color: white;
  border: solid 1px #e64f4f;
  border-radius: 50px;
  padding: 3px 8px;
  display: inline-block;
  outline: none;
  transition: all 0.3s ease-in-out;
  color: #e64f4f;
  &:hover {
    box-shadow: 0 0 5px #e64f4f;
  }
  &:active {
    box-shadow: none;
  }
}
</style>
