<template>

       <b-container > 
        <h1 class="display-5 bg-light p-3 text-center">Scheduling Problems</h1>
       </b-container>

</template>

<script>
// @ is an alias to /src

export default {
  name: "Header",
};
</script>

