<template>
  <div class="accordion" role="tablist">
    <b-card v-for="(job, index) in jobs" :key="index" no-body class="">
      <b-card-header header-tag="header" class="" role="tab">
        <b-table-simple table-variant="secondary" small bordered>
          <b-tr>
            <b-td class="align-middle text-center">
              <b-button v-b-toggle="'acc' + index" variant="outline-info">
                <span>Details</span>
              </b-button>
            </b-td>
            <b-td>
              <label >Name:</label>
              <b-form-input
                style="display: inline;"
                type="text"
                placeholder="Type name here"
                v-model="job.name"
                :state="!!job.name && job.name != ''"
              />
            </b-td>
            <b-td>
              <label>Prioprity:</label>
              <b-form-input
                style="display: inline;"
                placeholder=""
                type="number"
                v-model.number="job.priority"
              />
            </b-td>
            <b-td>
              <label>Due to:</label>
              <b-form-input
                style="display: inline;"
                type="time"
                placeholder=""
                v-model="job.dueto"
              />
            </b-td>
            <b-td class="align-middle text-center">
              <b-button @click="deleteItem(index)" variant="outline-danger">
                <b-icon icon="trash-fill" aria-hidden="true"></b-icon>
              </b-button>
            </b-td>
          </b-tr>
        </b-table-simple>
      </b-card-header>
      <b-collapse
        :id="'acc' + index"
        visible
        accordion="my-accordion"
        role="tabpanel"
      >
      <b-card-header inline header-tag="header" class="p-1" role="tab">

        Operations list for <strong>{{job.name}}</strong>

      </b-card-header>
        <b-card-body class="p-1">
          <dynamic-table-o
            :items="job.operations"
            :header="['Name', 'Consumption', 'Machines',]"
          />
        </b-card-body>
      </b-collapse>
    </b-card>

    <b-card no-body class="mb-1">
      <b-card-header header-tag="header" class="p-1" role="tab">
        <b-button @click="addItem()" variant="outline-info">+</b-button> Add Job
      </b-card-header>
    </b-card>
  </div>
</template>

<script>
import DynamicTableO from "@/components/DynamicTableO.vue";

export default {
  data() {
    return {};
  },
  components: {
    DynamicTableO,
  },
  props: {
    jobs: Array,
  },
  methods: {
    deleteItem: function(id) {
      //   console.log("Delete Item!!! " + id)
      this.jobs.splice(id, 1);
    },
    addItem: function() {
      this.jobs.push(
        { 
          name: "",
          priority: 1,
          dueto: "",
          operations: [],
        }
      )
    },
  }
};
</script>

<style lang="scss" scoped>
.table {
  margin-bottom: 0;
}
</style>
