<template>
  <b-list-group>
    <b-list-group-item v-for="item in data" :key="item.name">
      <b-form-checkbox
        v-model="item.status"
        value="true"
        unchecked-value="false"
        >{{ item.name }}</b-form-checkbox
      >
    </b-list-group-item>
  </b-list-group>
</template>

<script>
export default {
  data() {
    return {};
  },

  props: {
    data: Array,
  },

  methods: {},
};
</script>
