<template>
  <div class="container overlay">
    <h1 class="title-overlay">Please, wait...</h1>
    <div class="center">
      <b-spinner
        class="spinner"
        style="animation: 1s ease-in-out infinite spinner-grow;"
        type="grow"
        label="Loading..."
      ></b-spinner>
      <b-spinner
        class="spinner"
        style="animation: 1s ease-in-out 0.1s infinite spinner-grow;"
        type="grow"
        label="Loading..."
      ></b-spinner>
      <b-spinner
        class="spinner"
        style="animation: 1s ease-in-out 0.2s infinite spinner-grow;"
        type="grow"
        label="Loading..."
      ></b-spinner>
    </div>
  </div>
</template>

<script>
export default {
  name: "Overlay",
};
</script>

<style scoped lang="scss">
.overlay {
  position: fixed; /* Sit on top of the page content */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(
    170,
    170,
    170,
    0.6
  ); /* Black background with opacity */
  z-index: 1000; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}

.title-overlay {
  margin: 200px auto 50px;
  text-align: center;
}

.center {
  text-align: center;
}

.spinner {
  margin: 10px;
}
</style>
