<template>
  <div class="hello">
    <h2>SGIA - Intelligent Algorithms Management System</h2>
    <h3>{{ msg }}</h3>
    <div class="container">
      <label for="data-type" class="radio-wrapper">Variables type</label>
      <select v-model="dataType" name="data-type" id="data-type">
        <option v-for="type in dataTypes" v-bind:key="type" v-bind:value="type">
          {{ type }}
        </option>
      </select>
    </div>
    <table class="container">
      <TitleItem />
      <ListItem
        v-for="(item, index) in items"
        v-bind:key="index"
        v-bind:index="index"
        v-bind:showColumn="showColumn"
      />
      <AddItem />
    </table>
    <div v-if="error" class="container">
      <p class="error-message">{{ errorMessage }}</p>
    </div>

    <EvaluationModule2 class="container" />
    <div class="container inline-flex space-around">
      <div class="inline-element">
        <label for="iteration-input">Number of iterations</label>
        <input
          v-model="iterations"
          type="number"
          name="iteration-input"
          id="iteration-input"
          min="1"
          max="99999999"
        />
      </div>
      <div class="inline-element">
        <label for="iteration-input">Number of objectives</label>
        <input
          v-model="objectives"
          type="number"
          name="objectives-input"
          id="objectives-input"
          min="1"
          max="99999999"
        />
      </div>
    </div>
    <div class="container align-right">
      <button @click="submitData" class="submit-button">Submit</button>
    </div>
  </div>
</template>

<script>
// @ is an alias to /src
import ListItem from "@/components/ListItem.vue";
import AddItem from "@/components/AddItem.vue";
import TitleItem from "@/components/TitleItem.vue";
import EvaluationModule2 from "@/components/EvaluationModule2.vue";

export default {
  name: "ParamList",
  components: {
    ListItem,
    AddItem,
    TitleItem,
    EvaluationModule2,
  },

  computed: {
    dataType: {
      get() {
        return this.$store.state.dataType;
      },

      set(value) {
        this.$store.commit("setDataType", value);
        if (this.$store.devMode) console.log(this.$store.state.dataType);
      },
    },

    iterations: {
      get() {
        return this.$store.state.iterations;
      },

      set(value) {
        this.$store.commit("updateIterations", value);
        if (this.$store.devMode) console.log(this.$store.state.iterations);
      },
    },

    objectives: {
      get() {
        return this.$store.state.objectives;
      },

      set(value) {
        this.$store.commit("updateObjectives", value);
        if (this.$store.devMode) console.log(this.$store.state.objectives);
      },
    },

    dataTypes: {
      get() {
        return this.$store.state.dataTypes;
      },
    },

    items: {
      get() {
        return this.$store.state.datas;
      },
    },

    error: {
      get() {
        return this.$store.state.errorStatus;
      },
    },

    errorMessage: {
      get() {
        return this.$store.state.errorMessage;
      },
    },

    showColumn: {
      get() {
        console.log("getColumn in Paramlist");
        return !!(this.$store.state.dataType != "Boolean");
      },
    },
  },

  props: {
    msg: String,
  },

  methods: {
    chekout() {
      this.$store.commit("setErrorStatus", false);
      this.$store.commit("clearErrorMessage");

      if (!this.$store.state.dataType) {
        if (this.$store.devMode) console.log("No variables type!");
        this.$store.commit("setErrorStatus", true);
        this.$store.commit("setErrorMessage", "No variables type! ");
      }

      if (!this.validateEmptyParams()) {
        if (this.$store.devMode) console.log("Empty fields!");
        this.$store.commit("setErrorStatus", true);
        this.$store.commit("setErrorMessage", "Empty fields! ");
      }

      if (!this.validateVariables()) {
        if (this.$store.devMode) console.log("Variable type mismatch!");
        this.$store.commit("setErrorStatus", true);
        this.$store.commit("setErrorMessage", "Variable type mismatch! ");
      }

      if (this.$store.state.datas.length < 1) {
        if (this.$store.devMode) console.log("No variables provided!");
        this.$store.commit("setErrorStatus", true);
        this.$store.commit("setErrorMessage", "No variables provided! ");
      }

      if (!this.$store.state.endpoint && !this.$store.state.isJarUploaded) {
        if (this.$store.devMode) console.log("No evaluation method provided!");
        this.$store.commit("setErrorStatus", true);
        this.$store.commit(
          "setErrorMessage",
          "No evaluation method provided! "
        );
      }
      if (this.$store.state.datas.length > 10) {
        if (this.$store.devMode) console.log("Too many variables!");
        this.$store.commit("setErrorStatus", true);
        this.$store.commit("setErrorMessage", "Too many variables! ");
      }

      if (this.$store.devMode) console.log("Checkout done");
    },

    validateEmptyParams() {
      let dataObject = this.$store.state.datas;
      for(var index in dataObject) {
        for(var key in dataObject[index]) {
          if(dataObject[index][key] === "") {
            if (this.$store.devMode) console.log("Property " + dataObject[index][key] + " is Empty!");
            return false;
          }
        }
      }
      if (this.$store.devMode) console.log("validateEmptyParams OK!");
      return true;
    },

    validateVariables() {
      let dataObject = this.$store.state.datas;
      let isInt = (this.$store.state.dataType == "Integer");
      let isNumber = true;
      for (let i = 0; i < dataObject.length; i ++) {
        console.log( typeof( dataObject[i].from));
        let from = dataObject[i].from.toString();
        let to = dataObject[i].to.toString();

        if (isNaN(from) || isNaN(to)) isNumber = false;
        if (
          (from.includes(".") && isInt) ||
          (to.includes(".") && isInt)
        ) isNumber = false;
      }
      console.log(isNumber);
      return isNumber;
    },

    submitData() {
      this.chekout();
      if (!this.$store.state.errorStatus) {
        this.$router.push("Result");
        this.$store.dispatch("submitData");
      }
    },
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
.container {
  margin: 50px auto;
  max-width: 800px;
  width: 90%;
  text-align: initial;
}

.inline {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.inline-flex {
  display: flex;
}

.radio-wrapper:first-child {
  margin-right: 20px;
}

.space-around {
  justify-content: space-around;
}

.align-right {
  text-align: right;
}

.submit-button {
  width: 70px;
  padding: 5px 10px;
  background-color: white;
  color: #b10000;
  border: solid 1px #b10000;
  border-radius: 5px;
  outline: none;
  transition: all 0.2s ease-in-out;

  &:hover {
    box-shadow: 0 0 5px #b10000;
  }

  &:active {
    background-color: #b10000;
    color: white;
  }
}

.error-message {
  color: white;
  background-color: #b10000;
  text-align: center;
  padding: 10px 0;
}

input {
  padding: 5px 10px;
  margin: 0 5px;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
}

tr:nth-child(even) {
  background-color: #c4c4c4;
}

tr:nth-child(odd) {
  background-color: #e1e1e1;
}

h3 {
  margin: 40px 0 0;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 10px;
}
</style>
