<template>
  <div class="hello">
    <h1>{{ msg }}</h1>
    <table v-if="error" class="container">
      <tr>
        <td class="error">{{ error.name }}</td>
        <td class="error">{{ error.value }}</td>
      </tr>
    </table>
    <table v-if="!itemsObjectives" class="container">
      <tr>
        <td class="error">We can't find the best solution for your problem</td>
      </tr>
    </table>
    <div v-if="itemsObjectives" class="container">
      <div class="wrapper">
        <table class="half">
          <tr class="title-list-item">
            <th>#</th>
            <th>Variables</th>
          </tr>
          <tr v-for="(item, index) in itemsVariables" v-bind:key="index">
            <td>{{ index + 1 }}</td>
            <td>{{ item }}</td>
          </tr>
          <!-- <ResultListItem  v-for="(item, index) in itemsVariables" v-bind:key="index" v-bind:index='index'/> -->
        </table>
        <table class="half">
          <tr class="title-list-item">
            <th>#</th>
            <th>Objectives</th>
          </tr>
          <tr v-for="(item, index) in itemsObjectives" v-bind:key="index">
            <td>{{ index + 1 }}</td>
            <td>{{ item }}</td>
          </tr>
          <!-- <ResultListItem  v-for="(item, index) in itemsObjectives" v-bind:key="index" v-bind:index='index'/> -->
        </table>
      </div>
      <div class="container">
        <p v-if="endpoint">Validation made by endpiont: {{ endpoint }}</p>
        <p v-if="!endpoint">Validation made by user JAR file</p>
      </div>
    </div>
    <div class="container inline">
      <div class="inline-element">
        <router-link class="submit-button" to="/">Back</router-link>
      </div>
    </div>
  </div>
</template>

<script>
// @ is an alias to /src
// import ResultListItem from "@/components/ResultListItem.vue";

export default {
  name: "ResultList",

  components: {
    // ResultListItem,
  },

  computed: {
    itemsObjectives: {
      get() {
        return this.$store.state.responseObj.objetiveResult;
      },
    },

    itemsVariables: {
      get() {
        return this.$store.state.responseObj.variablesResult;
      },
    },

    endpoint: {
      get() {
        if (this.$store.state.responseObj.result) {
          console.log(this.$store.state.responseObj.algorithmRequest.endpoint);
          return this.$store.state.responseObj.algorithmRequest.endpoint;
        } else {
          return false;
        }
      },
    },

    error: {
      get() {
        return this.$store.state.responseObj.error;
      },
    },
  },

  props: {
    msg: String,
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
.container {
  margin: 20px auto;
  max-width: 1000px;
  width: 80%;
  text-align: initial;
}

.inline {
  display: flex;
  justify-content: end;
  align-items: center;

  &-element {
    justify-self: end;
  }
}

.wrapper {
  display: flex;
  justify-content: space-between;
}

.half {
  width: 45%;
}

.error {
  color: red;
}

.submit-button {
  width: 70px;
  padding: 5px 10px;
  background-color: white;
  color: #222222;
  border: solid 1px #222222;
  border-radius: 5px;
  outline: none;
  transition: all 0.2s ease-in-out;
  text-decoration: none;

  &:hover {
    box-shadow: 0 0 5px #222222;
  }

  &:active {
    background-color: #222222;
    color: white;
  }
}

input {
  padding: 5px 10px;
  margin: 0 5px;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
}

tr:nth-child(even) {
  background-color: #c4c4c4;
}

tr:nth-child(odd) {
  background-color: #e1e1e1;
}

th,
td {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 10px;
}

.title-list-item {
  background-color: #8b8b8b !important;
  color: white;
}

h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
