<template>
  <div class="container">
    <b-card>

    <b-row>
      <h3>Problem type: {{ problemType }}</h3>
    </b-row>
    <b-row>
      <h3>Problem name: {{ problemName }}</h3>
    </b-row>
    </b-card>
    <b-alert class="shadow-sm" :show="error" variant="danger">
        <b-icon icon="exclamation-circle-fill" variant="danger"></b-icon>
          {{ errorMessage }}
    </b-alert>
    <b-row class="m-3">
      <b-col cols="1">
        <b-button @click="goBack" block variant="outline-secondary"
          >Back</b-button
        >
      </b-col>
    </b-row>
    <div v-if="!error" class="accordion" role="tablist">
      <b-card
        v-for="(ganttData, index) in results"
        :key="index"
        no-body
        class=""
      >
        <b-card-header header-tag="header"  role="tab">
            <b-button v-b-toggle="'acc' + index" variant="outline-info" class="text-left" block>
              <b-icon icon="bar-chart-steps" ></b-icon>
              Result {{ index + 1 }}
              </b-button>
        </b-card-header>
        <b-collapse
          :id="'acc' + index"
          visible
          accordion="my-accordion"
          role="tabpanel"
        >
          <!-- <b-card-header inline header-tag="header" class="p-1" role="tab">
          </b-card-header> -->
          <b-card-body class="p-1">
            <gantt-page :ganttData="ganttData"> </gantt-page>
          </b-card-body>
        </b-collapse>
      </b-card>


    <!-- <b-card no-body class="mb-1">
      <b-card-header header-tag="header" class="p-1" role="tab">
        <b-button block v-b-toggle.accordion-1 variant="info">Accordion 1</b-button>
      </b-card-header>
      <b-collapse id="accordion-1" visible accordion="my-accordion" role="tabpanel">
        <b-card-body>
          <b-card-text>I start opened because <code>visible</code> is <code>true</code></b-card-text>
          <b-card-text>{{ text }}</b-card-text>
        </b-card-body>
      </b-collapse>
    </b-card> -->

    </div>
  </div>
</template>

<script>
import GanttPage from "@/components/GanttPage.vue";

export default {
//   data() {
//     return {
//       results: [
//         {
//           myChartStart: "2020-03-01 00:00",
//           myChartEnd: "2020-03-03 00:00",
//           rows: [
//             {
//               label: "Machine #1",
//               bars: [
//                 {
//                   myStart: "2020-03-01 12:10",
//                   myEnd: "2020-03-01 16:35",
//                   ganttBarConfig: {
//                     background: "#B29DB6",
//                     label: "Job1",
//                   },
//                 },
//               ],
//             },
//             {
//               label: "Machine #2",
//               bars: [
//                 {
//                   myStart: "2020-03-02 01:00",
//                   myEnd: "2020-03-02 12:00",
//                   ganttBarConfig: {
//                     background: "#B4B4B4",
//                     label: "Job2",
//                   },
//                 },
//                 {
//                   myStart: "2020-03-02 13:00",
//                   myEnd: "2020-03-02 22:00",
//                   ganttBarConfig: {
//                     background: "#ABC3CE",
//                     label: "Job3",
//                   },
//                 },
//               ],
//             },
//             {
//               label: "Machine #3",
//               bars: [
//                 {
//                   myStart: "2020-03-02 02:00",
//                   myEnd: "2020-03-02 13:00",
//                   ganttBarConfig: {
//                     background: "#C5AEB4",
//                     label: "Job4",
//                   },
//                 },
//                 {
//                   myStart: "2020-03-02 14:00",
//                   myEnd: "2020-03-02 23:00",
//                   ganttBarConfig: {
//                     background: "#7B8FA5",
//                     label: "Job5",
//                   },
//                 },
//               ],
//             },
//             {
//               label: "Machine #4",
//               bars: [
//                 {
//                   myStart: "2020-03-02 00:00",
//                   myEnd: "2020-03-02 11:00",
//                   ganttBarConfig: {
//                     background: "#99B49F",
//                     label: "Job3",
//                   },
//                 },
//                 {
//                   myStart: "2020-03-01 01:00",
//                   myEnd: "2020-03-01 21:00",
//                   ganttBarConfig: {
//                     background: "#B29DB6",
//                     label: "Job3",
//                   },
//                 },
//               ],
//             },
//           ],
//         },
//         {
//           myChartStart: "2020-03-01 00:00",
//           myChartEnd: "2020-03-03 00:00",
//           rows: [
//             {
//               label: "Machine #1",
//               bars: [
//                 {
//                   myStart: "2020-03-01 12:10",
//                   myEnd: "2020-03-01 16:35",
//                   ganttBarConfig: {
//                     background: "#B29DB6",
//                     label: "Job1",
//                   },
//                 },
//               ],
//             },
//             {
//               label: "Machine #2",
//               bars: [
//                 {
//                   myStart: "2020-03-02 01:00",
//                   myEnd: "2020-03-02 12:00",
//                   ganttBarConfig: {
//                     background: "#B4B4B4",
//                     label: "Job2",
//                   },
//                 },
//                 {
//                   myStart: "2020-03-02 13:00",
//                   myEnd: "2020-03-02 22:00",
//                   ganttBarConfig: {
//                     background: "#ABC3CE",
//                     label: "Job3",
//                   },
//                 },
//               ],
//             },
//             {
//               label: "Machine #3",
//               bars: [
//                 {
//                   myStart: "2020-03-02 02:00",
//                   myEnd: "2020-03-02 13:00",
//                   ganttBarConfig: {
//                     background: "#C5AEB4",
//                     label: "Job4",
//                   },
//                 },
//                 {
//                   myStart: "2020-03-02 14:00",
//                   myEnd: "2020-03-02 23:00",
//                   ganttBarConfig: {
//                     background: "#7B8FA5",
//                     label: "Job5",
//                   },
//                 },
//               ],
//             },
//             {
//               label: "Machine #4",
//               bars: [
//                 {
//                   myStart: "2020-03-02 00:00",
//                   myEnd: "2020-03-02 11:00",
//                   ganttBarConfig: {
//                     background: "#99B49F",
//                     label: "Job3",
//                   },
//                 },
//                 {
//                   myStart: "2020-03-01 01:00",
//                   myEnd: "2020-03-01 21:00",
//                   ganttBarConfig: {
//                     background: "#B29DB6",
//                     label: "Job3",
//                   },
//                 },
//               ],
//             },
//           ],
//         },
//       ],
//     };
//   },
  components: {
    GanttPage,
  },
  computed: {
    results: {
      get() {
        return this.$store.state.responseObj;
      },
    },
    problemName: {
      get() {
        return this.$store.state.problem.problemName;
      },
    },
    problemType: {
      get() {
        return this.$store.state.problem.problemType;
      },
    },
    error: {
      get() {
        return this.$store.state.errorStatus;
      },
    },

    errorMessage: {
      get() {
        return this.$store.state.errorMessage;
      },
    },
  },
  methods: {
    goBack() {
      this.$router.go(-1);
    },
  },
};
</script>
