<template>
  <div>
    <!-- <h2>SJA</h2> -->
    <div>
      <b-container class="bv-example-row">
        <b-row>
          <b-col>
            <b-button
              class="shadow-sm p-3 mb-3 bg-light rounded ads-button"
              style="width: 100%;"
              variant="light"
              v-b-toggle.collapse-1
            >
              <h3>{{ problemType }}</h3>
            </b-button>
          </b-col>
        </b-row>

        <div>
          <b-collapse id="collapse-1" class="mt-2">
            <b-card no-body class="overflow-hidden">
              <b-row no-gutters>
                <b-col md="4">
                  <b-card-img
                    src="https://www.researchgate.net/publication/301279276/figure/fig2/AS:362081028198402@1463338252279/The-schedule-of-4-3-job-shop-scheduling-problem.png"
                    alt="Image"
                    class="rounded-0"
                  ></b-card-img>
                </b-col>
                <b-col md="8">
                  <b-card-body :title="problemType">
                    <b-card-text>
                      The given n jobs J1, J2, …, Jn of varying processing
                      times, which need to be scheduled on m machines with
                      varying processing power, while trying to minimize the
                      makespan.
                    </b-card-text>
                    <b-button
                      href="https://en.wikipedia.org/wiki/Job_shop_scheduling"
                      variant="secondary"
                      >More Info</b-button
                    >
                  </b-card-body>
                </b-col>
              </b-row>
            </b-card>
          </b-collapse>
        </div>

        <b-row>
          <b-col>
            <b-form-input
              class="shadow-sm p-3 mb-3 bg-white rounded"
              v-model="problemName"
              placeholder="Enter problems name"
            ></b-form-input>
          </b-col>
        </b-row>
        <b-alert class="shadow-sm" :show="error" variant="danger" dismissible @dismissed="resetAlert">
          <b-icon icon="exclamation-circle-fill" variant="danger"></b-icon>
          {{ errorMessage }}
        </b-alert>
        <!-- <b-row> -->
        <!-- <b-col cols="8"> -->
        <b-card no-body class="shadow-sm bg-white rounded">
          <b-tabs card class="m-1" align="center">
            <b-tab title="1. Machines" active>
              <b-row>
                <b-col>
                  <b-card>
                  <b-form-checkbox
                    v-model="isAllMachinesSame"
                    value="true"
                    unchecked-value="false"
                  > All machines the same (as first one)
                  </b-form-checkbox>
                  </b-card>
                </b-col>
              </b-row>
              <dynamic-table-n
                :items="items1"
                :header="['Name', 'Power, op/sec', 'Number']"
                :isMultiLine="isAllMachinesSame == 'false'"
              />
            </b-tab>
            <!-- <b-tab title="2. Jobs" :title-link-class="linkClass(0)">
              <p>Jobs List ({{ items2.length }})</p>
              <dynamic-table-n
                :items="items2"
                :header="['Name', 'Consumption, op']"
              />
            </b-tab> -->

            <b-tab title="2. Jobs">
              <!-- <p>Jobs List ({{ jobs1.length }})</p> -->
              <nested-table :jobs="jobs1" />
            </b-tab>

            <!-- <b-tab title="3. Order" :title-link-class="linkClass(0)">
              <p>Processing order</p>
              <input-matrix-b />
            </b-tab> -->
            <!-- <b-tab title="4. Priority" :title-link-class="linkClass(0)">
              <p>Priority and Due date</p>
              <input-matrix-p-d :data="jobs" />
            </b-tab> -->
            <b-tab title="3. Objectives">
              <p>Objectives</p>
              <objectives-tab :data="objectives" />
            </b-tab>
            <b-tab title="4. Heuristic">
              <p>Allocation Heuristic</p>
              <heuristic-tab :data="heuristic" />
            </b-tab>
            <b-tab title="5. Start Date">
              <p>Date and time of start</p>
              <b-form-datepicker
                v-model="date"
                class="mb-2"
              ></b-form-datepicker>
              <b-form-timepicker v-model="time" locale="en"></b-form-timepicker>
            </b-tab>
            <b-tab title="6. Parameters">
              <p>Algorithm parameters</p>
              <a-params :params="aParams" />
            </b-tab>
          </b-tabs>
        </b-card>
        <!-- </b-col> -->
        <!-- <b-col> -->
        <!-- </b-row> -->
        <!-- <div> -->

        <!-- </div> -->
        <!-- </b-col> -->
        <b-row class="p-3 mb-3">
          <b-col cols="2">
            <router-link style="text-decoration: none" to="/">
              <b-button block variant="outline-secondary"
                >Back</b-button
              ></router-link
            >
          </b-col>
          <b-col cols="8"></b-col>

          <!-- <b-col>
            <b-button @click="evalChromosome" block variant="outline-info"
              >Chromosome</b-button
            >
          </b-col>
          <b-col>
            <b-button @click="evalGanttData" block variant="outline-info"
              >Gantt Data</b-button
            >
          </b-col> -->
          <b-col cols="2">
            <!-- <router-link style="text-decoration: none" to="/gantt"> -->
            <b-button @click="submitData" :disabled="error" block variant="outline-danger"
              >Schedule</b-button
            >
            <!-- </router-link> -->
          </b-col>
        </b-row>
        <b-row v-if="chromosome">
          <p>{{ chromosome }}</p>
        </b-row>
      </b-container>
    </div>
  </div>
</template>

<script>
// @ is an alias to /src
// import DynamicTable from "./DynamicTable.vue";
import DynamicTableN from "./DynamicTableN.vue";
// import InputMatrixB from "./InputMatrixB.vue";
// import InputMatrixPD from "./InputMatrixPD.vue";
import ObjectivesTab from "./ObjectivesTab.vue";
import HeuristicTab from "./HeuristicTab.vue";
import NestedTable from "./NestedTable.vue";
import AParams from "./AParams.vue";
import { BIcon } from "bootstrap-vue";

import convertToChromosome from "../converter";
import getGanttData from "../gantt-data";

export default {
  components: {
    // DynamicTable,
    // InputMatrixB,
    // InputMatrixPD,
    DynamicTableN,
    ObjectivesTab,
    HeuristicTab,
    NestedTable,
    AParams,
    BIcon,
  },
  data() {
    return {
      text: "",
      tabIndex: 0,
      chromosome: null,
      problem: this.$route.params.problem,
       // get problem type from router
      // isAllMachinesSame: false
    };
  },

  props: {
    msg: String,
  },
  computed: {
    problemType: {
      get() {
        return this.$store.state.problem.problemType;
      },
    },
    problemName: {
      get() {
        return this.$store.state.problem.problemName;
      },

      set(value) {
        this.$store.commit("setProblemName", value);
      },
    },
    items1: {
      get() {
        return this.$store.state.problem.machines;
      },
    },
    items2: {
      get() {
        return this.$store.state.problem.jobs;
      },
    },
    objectives: {
      get() {
        return this.$store.state.problem.objectives;
      },
    },
    heuristic: {
      get() {
        return this.$store.state.problem.heuristic;
      },
    },
    // todo delete
    jobs: {
      get() {
        return this.$store.state.problem.jobs;
      },
    },
    // jobs with operations
    jobs1: {
      get() {
        return this.$store.state.problem.jobs1;
      },
    },

    isAllMachinesSame: {
      get() {
        return this.$store.state.problem.isAllMachinesSame
      },
      set(value) {
        this.$store.commit("setIsAllMachinesSame", value)
      },
    },

    time: {
      get() {
        return this.$store.state.problem.startTime[1];
      },
      set(value) {
        this.$store.commit("setStartTime", value);
      },
    },

    aParams: {
      get() {
        return this.$store.state.problem.aParams;
      },
    },

    date: {
      get() {
        return this.$store.state.problem.startTime[0];
      },
      set(value) {
        this.$store.commit("setStartDate", value);
      },
    },

    showColumn: {
      get() {
        return true;
      },
    },

    error: {
      get() {
        return this.$store.state.errorStatus;
      },
    },

    errorMessage: {
      get() {
        return this.$store.state.errorMessage;
      },
    },
  },

  methods: {
    submitData() {
      // this.chekout();
      if (!this.$store.state.errorStatus) {
        // this.$router.push({ path: '/gantt'});
        this.$store.dispatch("submitData");
      }
    },

    resetAlert() {
      this.$store.commit("setErrorMessage", "")
      this.$store.commit("setErrorStatus", false)
    },

    // tab title styles
    // linkClass(idx) {
    //   if (this.tabIndex === idx) {
    //     return ["border border-secondary bg-light", "text-dark"];
    //   } else {
    //     return ["bg-light", "text-dark"];
    //   }
    // },

    // just to illustrate an example of chromosome
    evalChromosome() {
      let chromosome = convertToChromosome(this.$store.state.problem);
      this.chromosome = chromosome;
      this.$store.commit("setChromosome", chromosome);
    },

    evalGanttData() {
      let ganttD = getGanttData(
        this.$store.state.problem,
        this.$store.state.chromosome
      );
      this.$store.commit("setGanttData", ganttD);
    },

    // setStartTime() {
    //   let startTime = [this.time, this.date]
    //   this.$store.commit("setStartTime", startTime);
    // },
  },
};
</script>

<style lang="scss"></style>
