<template>
  <div class="hello">
    <!-- <h2>Start - Under construction</h2> -->
    <h3>{{ msg }}</h3>
    <div class="container">
      <b-container class="bv-example-row">
        <!-- Header  -->

        <b-card
          class="shadow-sm btn btn-light mb-3 rounded text-left"
          v-for="(item, index) in data"
          v-bind:key="item.name"
        >
        <!-- <b-button> -->

          <b-row>
              <b-col  @click="goTo(item.route, item.name)" cols="10" class="center row-name">
            <!-- <router-link :to="item.route"> -->
                <h3>
                  <b-icon :icon="iconSet[index]" ></b-icon>
                  {{ item.name }}
                </h3>
            <!-- </router-link> -->

              </b-col>

            <b-col cols="2">
              <a :href="item.link">
                <b-button block variant="outline-secondary">
                Learn More
                </b-button>
              </a>
            </b-col>
          </b-row>
        <!-- </b-button> -->
        </b-card>
        <!-- <router-link to="test">
          <b-card>In case you don't know what the problem is</b-card>
        </router-link> -->
        <!-- <b-row>
          <b-col>
            <router-link to="sjp">
              <b-button block variant="outline-secondary">
                Go to Sjp
              </b-button>
            </router-link>
          </b-col>
          <b-col>
            <router-link to="test">
              <b-button block variant="outline-secondary">
                Go to Test
              </b-button>
            </router-link>
          </b-col>
          <b-col>
            <router-link to="gantt">
              <b-button block variant="outline-secondary">
                Go to Gantt
              </b-button>
            </router-link>
          </b-col>
        </b-row> -->
      </b-container>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      iconSet: [
        "calendar2-check",
        "calendar2-week",
        "calendar2-range",
      ]
    }
  },
  props: {
    msg: String,
  },

  methods: {
    goTo (route, name) {
      this.$store.commit("setProblemType", name)
      this.$router.push(route)
    }
  },

  computed: {
    data: {
      get() {
        return this.$store.state.problemList;
      },
    },
  },
};
</script>
