<template>
  <tr class="title-list-item">
      <th>#</th>
      <th>{{header[0]}}</th>
      <!-- <th v-if="showColumn">From</th> -->
      <th v-if="showColumn">{{header[1]}}</th>
      <th>Del</th>
  </tr>
</template>

<script>
export default {
  name: "TitleItem",
  props: {
    header: Array,
  },
  computed: {
    showColumn: {
      get() {
        return !!(this.$store.state.dataType != "Boolean");
      }
    },
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
    .title-list-item {
      background-color: #8B8B8B !important;
      color: white;
      border-radius: 5px 5px 0 0;
    }

    th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 10px;
    }
</style>
